---
import ImageList from '@/components/ImageListGlob.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  seo={{
    title: 'Simple gallery',
  }}>
  <h1 class="font-heading my-8 hidden text-5xl font-black">Images</h1>
  <ImageList />
  <!-- <Pagination {page} /> -->
</Layout>
