---
import ThemeToggle from '@/components/utils/ThemeToggle.astro'
// import Social from '@/components/Social.astro'
---

<footer
	class:list={[
		'flex flex-row justify-between w-full py-4 border-t border-font-color mt-4',
		// 'text-font-color bg-background-color border-font-color',
	]}
>
	<p>Built with Astro</p>
	<!-- <Social /> -->
	<ThemeToggle />
</footer>
