<footer class:list={['mt-4 flex w-full flex-row justify-between border-t border-font-color py-4']}>
  <small class="text-sm"
    ><a href="https://astro.build/" target="_blank">Built with Astro</a>
  </small>
</footer>
