---
import site from '@/data/site'
// import ThemeToggle from '@/components/utils/ThemeToggle.astro'
---

<header
  class:list={['flex w-full flex-row justify-between', 'mb-4 border-b border-font-color pb-2']}>
  <a href="/"
    ><h2 class="font-logo text-2xl font-black uppercase no-underline">
      {site.title}
    </h2></a
  >
  {
    // <ThemeToggle />
  }
</header>
