---
import type { CollectionEntry, ContentCollectionKey } from 'astro:content'
import ImageCardMasonry from '@/components/ImageCardMasonry.astro'

interface Props {
	images: CollectionEntry<ContentCollectionKey>[]
}

const { images } = Astro.props
---

{
	// <ul id="astrokit-gallery" class="masonry grid grid-cols-3 gap-4"> -->
}
<masonry-layout id="astrokit-gallery" gap="16">
	{
		images.map((image) => (
			// <li>
			<ImageCardMasonry image={image} />
			// </li>
		))
	}
</masonry-layout>
{
	// </div>
}

<script>
	import { MasonryLayout } from '@appnest/masonry-layout'
	new MasonryLayout()
</script>
